* {
    padding: 0;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}

body {
    margin-left: 100px;
    margin-right: 100px
}

.navbar {
    padding: 2%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: red;
    color: white;


}

.logo-image {
    display: inline-block;
}

.container-linkList {
    display: inline-block;
    width: 300px;
}

.unordered-list>li {
    display: inline-block;
    margin-left: 5%;
    text-align: center;
    cursor: pointer;
    font-weight: bold !important;
}

#input-bar {
    position: relative;
    width: 70%;
    padding: 10px;
}

#input-button {
    padding: 10px;
    border: 2px solid red;
    background-color: white;
    transition: 200ms;
    cursor: pointer;
    color : red; 
}

#input-button:hover {
    background-color: red;
    color: white;
}

.container-todolist {
    width: 50%;
    margin: auto;
}

label {
    font-weight: 900;
    
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important
}

#div-element {
    position: relative;
    border-left: 2px solid black;
    height: 50px;
    background-color: white;
    margin: auto;
    padding-left: 10px;
    cursor: pointer;
    
  
}


#div-cancel {
    position: absolute;
    width: 25px;
    height: 25px;
    float: right; 
    top: 0%; 
    left: 100%; 
    background-color: red;
    color: white;
    text-align: center;
    cursor: pointer;
    padding: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transition: 200ms;
    border: 1px solid red;


}
#div-cancel:hover{
    background-color: white;

    color: red;
}

#default-container {
    position: relative;

    width: 80%;
    height: 25;
    display: inline-block;


}